
<div class="container" style="padding-top: 30px;">
    <h1 class="display-3" style="padding-top: 30px;">Edit Patients Form</h1>
    <br/>
    <p>Made a boo-boo? Change your file using this form. </p>
</div>
    
<div class="container" style="padding-top: 30px;">
    <%= form_for @patient do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :condition %>
    <%= f.text_field :condition %>
    
    <%= f.submit %>
    <% end %>

    <%= button_to "Delete", patient_path(@patient), method: :delete %>
</div>