<div class="container">
        <h1 class="display-3" style="padding-top: 30px;"><%= @patient.name %></h1>
        <br/>
    </div>
    
    <div class="container">
        <h1 class="display-6"><%= @patient.condition %></h1>
        <br>
        <p>Dolores quis quia ad quo voluptates. Maxime delectus totam numquam. Necessitatibus vel atque qui dolore. Id neque nemo. Dolores iusto facere est ad. Accusamus ipsa dolor ut. Et officiis ut hic. Sunt asperiores minus distinctio debitis ipsa dolor. Minima eos deleniti.</p>
    </div>

    <div class="container">
        <h1 class="display-6">
            Doctor Associated: 
            <%= @patient.doctor_id %>
        </h1>
    </div>
    
    <div class="container" style="padding-top: 50px;">
        <p>Not your patient? Learn about another person to steal monies from, <%= link_to "here.", "/patients" %></p>
        <p>To edit your file, click <%= link_to "here.", edit_patient_path(@patient) %></p>
    </div>